language: android
matrix:
  include:
  - os: linux
    sudo: required
    language: android
    jdk: oraclejdk8
    android:
      components:
      - tools
      - tools
      - platform-tools
      - build-tools-25.0.1
      - android-25
      - extra-android-m2repository
      - extra-google-m2repository
      - extra-android-support
      - extra-google-google_play_services
      licenses:
      - android-sdk-preview-license-.*
      - android-sdk-license-.+
      - google-gdk-license-.+
      - .+
  - os: osx
    osx_image: xcode8.2
    language: objective-c
    xcode_project: ios/BountyLandApp.xcodeproj
    xcode_scheme: BountyLandAppRelease
    xcode_sdk: iphonesimulator10.1
before_cache:
- ./scripts/travis-before-cache.sh
cache:
  directories:
  - $TRAVIS_BUILD_DIR/node_modules;
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      $HOME/.gradle/caches/;
      $HOME/.gradle/wrapper/;
      $HOME/.android/build-cache;
    fi
before_install:
- nvm install 7.8.0
- ./scripts/travis-before-install.sh
install:
- npm install
- npm install -g react-native-cli
before_script:
- ./scripts/travis-before-script.sh
script:
- npm run lint
- npm run flow
- npm run test
- ./scripts/travis-script.sh
after_success:
- ./scripts/travis-after-success.sh
branches:
  only:
  - master
notifications:
  email:
  - martycakjakub@gmail.com
deploy:
  skip_cleanup: true
  provider: releases
  api_key: $GITHUB_TOKEN
  file:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      android/app/build/outputs/apk/app-release-unsigned.apk;
    else
      ios/build/Products/BountyLandAppRelease.ipa;
    fi
  on:
    repo: fullstack-zmrdi/bounty-land-app
env:
  global:
  - APP_NAME="BountyLandApp"
  - 'DEVELOPER_NAME="iPhone Developer: martycakjakub@gmail.com (B9Q968B6W8)"'
  - secure: XfZ/f5iOBRI9hrwgGrc+2u1RW03k0gzYku5z6zKPDcPyIqEr/TRTserQrZroBF5UUwuamO5T/GEJrv43moUF4ZU+lQc7TK5Xq4ofwpr6S3pL5+hnhTOAVttQ9iwK6tmDQOD0arRqIMWwdpZWN3qpvnzvusIvtEXt9PI3pdlpFuAEigPRPPgOPQiy0LCDW1wJwJogxuXCiRPazs4qHyrBHdzBaPmLNbglxNI2l0ZjJe0pXPS994oRSMCjzuNBhUgRhHS4K052rsebH53SOXci9VIjbCXvQWywaKffI1MUEuw2MqvLi+mO5mdXQXlSLTRDKtv4erb4ZefA5IFV33o0/h7Fc3eCqhwSBVQNbsKM8Cjx7YaBFRscZmrwhKvMPQu24JipUSICevzl1KnmeHTdjFhG1TJTz4Xr2mzIKbZcamEVwvyyNNbp7mq3LMhId3VaBKxy/qZND0M+40aNDh42vMi/pdes54lC8Gzjiy80UfI+wcoKjFOcZdTwE2rnCZ3ECiwC2Z0Necn18JD4z70UefFUvwf/KIS6WXN0SmbCqUjILOiy6kzofqccmBcl2ipdc7b1FD7n5dgN2F4JSYPbUz9Vvl/0gkenVg3zR2Ul3xI/2pkmrNG0LS09YBlDOaDZyUa8yVi54DJ/ar6R5hyRIzx8he2FQ6QKsZDDeK31zDk=
  - secure: DVGYyD90o+ZbtaY5H4+0qNUe4FRk9dz7SmSg9m84OC6pK144GQp8tjMkm7U4E2cEASTKgzXcT9ecK/Gs88K3bF6kXeiUNTJ1rtQOUaIFeTgod0UxgW0ZsR1FskhxWYlRp2CiEjHAcbFsVb9k66pug87j4T9eG8CkwlPyN3dSHVsmoxBSkZiXhGM0WJx63fLMvUzskbiXMpuKZRTiid2ynpXoZlBrtTievRoyanZlORhHGii0vcVH/QuLuSx7B9CvESJvMhBGmRPUYr14zY+rd0/pznwkQFANXQwmofDfZDl6A2DOlTzgxgNRmY5/9xOtRjdKAjf9QdQ6xF6Ku7nQcFbIK4JkI/+2RNc7scAybOF8kpdQSLNzS+qSIWaddfcioHuocLzPfJ2+oZb9n3Jc4tApuuLlJUV8+Z5xOai2k+TuueNiweDe2uGIfWu0SkL1gG/rAxk+F7RXjqkvcqQjS+6421HZO06l3fTiKsB7qTR8igNfvrXKLmKdjP6N0rebWbimgnBoSJOM5vdeeIVHlJrA6F+TcDAAkq39RJPfvX+HwEiW/vmgDbClXctjWNlDWT+Qd07YgA5iOXw+W3FIh/Qy9r28CNoA6SUvDlYV7q/OgtwvmZsE6ykw5WRjfq2LZifLlNWmain+dcSNwdBKi2tButdHu9ZnJkN5G1CgUN4=
